{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Unicatalogue</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="{% static 'pages/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'pages/css/unicatalogue.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'pages/css/light.css' %}"  />
	<link rel="stylesheet" href="{% static 'pages/css/dark.css' %}"  />
	<link rel="stylesheet" href="{% static 'pages/css/transparent.css' %}"  />
	<link rel="stylesheet" type="text/css" href="{% static 'pages/css/jquery.jscrollpane.css' %}" media="all" />
	<link rel="stylesheet" type="text/css" href="{% static 'pages/css/font-awesome.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'pages/css/videoGallery_buttons.css' %}" />
	
	
	<script type="text/javascript" src="{% static 'pages/js/jquery-1.11.0.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'pages/js/jquery.address.js' %}"></script><!-- deeplink -->
	<script type="text/javascript" src="{% static 'pages/js/jquery.mousewheel.min.js' %}"></script><!-- scroll -->
	<script type="text/javascript" src="{% static 'pages/js/jquery.jscrollpane.min.js' %}"></script><!-- scroll -->
	<script type="text/javascript" src="{% static 'pages/js/froogaloop2.min.js' %}"></script><!-- vimeo -->
	<script type="text/javascript" src="{% static 'pages/js/jquery.dotdotdot-1.5.1.js' %}"></script><!-- description shortener -->
	<script type="text/javascript" src="{% static 'pages/js/jquery.aprvp.min.js' %}"></script>

    <!-- Custom Fonts -->
    <link href="{% static 'pages/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
	

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
     
</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'index' %}"><img class="img-responsive" src="{% static 'pages/img/Uni_Catalogue_logo_final.png' %}"/></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div class="top-links">
                          <a href="{% url 'join' %}" class="btn btn-default btn-sm btn-register">REGISTER</a>
                          <a href="{% url 'join' %}" class="btn btn-default btn-sm btn-sign">SIGN IN</a>
                     </div>
                <ul class="nav navbar-nav navbar-right">

                    <li class="page-scroll">
                        <a href="#portfolio">COURSES</a>
                    </li>
                    <li class="page-scroll">
                        <a href="{% url 'uni' %}">UNIVERSITIES</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#portfolio">OPEN DAY</a>
                    </li>
                    <li class="page-scroll">
                        <a href="{% url 'scholarship' %}">FUNDING</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>



    <!-- STUDY AREA Section -->
   
        <div class="container container-main" style="margin-top: 100px;">
		    <div class="col-lg-12 col-study">
			     <div class="col-lg-8">
						<div class="panel panel-default" style="color:#222; background: #fff;"> 
						<h2>Name of the University</h2>
						<img class="img-responsive" src="{% static 'pages/img/Quartermile Edinburgh2015.jpg' %}"/>
                        </div>						
						</div>
                         <div class="col-lg-2">	
						    <div class="panel panel-default" style="color:#222; background: #fff;">
                             <div class="panel-body">
							 <img class="img-responsive" src="{% static 'pages/img/DruryVerticalCrestBW.jpg' %}"/>
							 </div>
                            </div>	
                         </div>
						 <div class="col-lg-2">	
						    <div class="panel panel-default" style="color:#222; background: #fff;">
                             <div class="panel-body">
							 <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</p>
							 </div>
                            </div>	
                         </div>
                          <div class="col-lg-4">	
						    <div class="panel panel-default" style="color:#222; background: #fff;">
                             <div class="panel-body">
							  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, 
							  eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
							  </p>
							 </div>
                            </div>	
                         </div>		
                        <div class="col-lg-4">	
						    <div class="panel panel-default" style="color:#222; background: #fff;">
                             <div class="panel-body">
							  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, 
							  eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
							  </p>
							 </div>
                            </div>	
                         </div>								 
			</div>
            <div class="col-lg-12 col-study">
			     <div class="col-lg-8">
						   <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
								  <div class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingOne">
									  <h4 class="panel-title">
										<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
										  About University
										</a>
									  </h4>
									</div>
									<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
									  <div class="panel-body">
										Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
									  </div>
									</div>
								  </div>
								  <div class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingTwo">
									  <h4 class="panel-title">
										<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
										  Why University
										</a>
									  </h4>
									</div>
									<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
									  <div class="panel-body">
										Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
									  </div>
									</div>
								  </div>
								  <div class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingThree">
									  <h4 class="panel-title">
										<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
										  Shools and Faculties
										</a>
									  </h4>
									</div>
									<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
									  <div class="panel-body">
										Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
									  </div>
									</div>
								  </div>
								  <div class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingFour">
									  <h4 class="panel-title">
										<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
										  Schoolarships
										</a>
									  </h4>
									</div>
									<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
									  <div class="panel-body">
										Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
									  </div>
									</div>
								  </div>
								  <div class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingFive">
									  <h4 class="panel-title">
										<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
										  Halls of Residence/Additional Info
										</a>
									  </h4>
									</div>
									<div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
									  <div class="panel-body">
										Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
									  </div>
									</div>
								  </div>
								  <div class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingSix">
									  <h4 class="panel-title">
										<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
										  Contact and the Director
										</a>
									  </h4>
									</div>
									<div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
									  <div class="panel-body">
										Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
									  </div>
									</div>
								  </div>
								</div>
						</div>
                         <div class="col-lg-4">	
						    <div class="panel panel-default" style="color:#222; background: #fff;">
                             <div class="panel-body">
							  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, 
							  eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
							  </p>
							 </div>
                            </div>	
                         </div>
                          <div class="col-lg-4">	
						    <div class="panel panel-default" style="color:#222; background: #fff;">
                             <div class="panel-body">
							  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, 
							  eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
							  </p>
							 </div>
                            </div>	
                         </div>		
                        <div class="col-lg-4" style="float: right;">	
						    <div class="panel panel-default" style="color:#222; background: #fff;">
                             <div class="panel-body">
							  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, 
							  eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
							  </p>
							 </div>
                            </div>	
                         </div>								 
			</div>
			<div class="col-lg-12 col-footer">
				<div class="row row-main">
				   <div class="col-sm-2 col-xs-2">
				    <img class="img-responsive" src="{% static 'pages/img/unicatalogue-transparent-vertical.png' %}"/>
				   </div>
				   <div class="col-sm-3 col-xs-3 sub-footer sub-footer-first">
				       <ul>
					    <h5>ACCOUNT</h5>
						<li><p><a href="{% url 'join' %}">Sign in</a></p></li>
						<li><p><a href="{% url 'join' %}">Register</a></p></li>
						<li><p><a href="{% url 'passwordResset' %}">Password reset</a></p></li>
				       </ul>
					   <ul>
					    <h5>SERVICES</h5>
						<li><p><a href="{% url 'contactForm' %}">Contact </a></p></li>
						<li><p><a>FAQ</a></p></li>
						<li><p><a>Advertise</a></p></li>
				       </ul>
				   </div>
				   <div class="col-sm-3 col-xs-3 sub-footer">
				       <ul>
					   <h5>INFORMATION</h5>
						<li><p><a>Open day</a></p></li>
						<li><p><a href="{% url 'scholarship' %}">Funding</a></p></li>
						<li><p><a>Blog</a></p></li>
						<li><p><a>Reviews </a></p></li>
						<li><p><a href="{% url 'prospectus' %}">Prospectus</a></p></li>
						<li><p><a href="{% url 'uni' %}">Universities</a></p></li>
				       </ul>
				   </div>
				   <div class="col-sm-4 col-xs-4 sub-footer sub-footer-last">
				        <ul>
						<h5>POLICIES</h5>
						<li><p><a href="{% url 'privacyPolicy' %}">Privacy policy </a></p></li>
						<li><p><a href="{% url 'cookiePolicy' %}">Data & Cookie policy</a></p></li>
						<li><p><a href="{% url 'termsOfService' %}">Terms & Conditions</a></p></li>
				       </ul>
					   <ul>
						<h5>ABOUT US</h5>
						<li><p><a>Our Company</a></p></li>
				       </ul>
				   </div>
				</div>
			</div>
			<div class="col-lg-12 col-footer col-footer-mobile">
				<div class="row row-main">
				   <div class="col-sm-2 col-xs-2">
				    <img class="img-responsive" src="{% static 'pages/img/unicatalogue-transparent-vertical.png' %}"/>
				   </div>
				   <div class="col-xs-5 sub-footer">
				       <ul>
					    <h5>ACCOUNT</h5>
						<li><p><a href="{% url 'join' %}">Sign in</a></p></li>
						<li><p><a href="{% url 'join' %}">Register</a></p></li>
						<li><p><a href="{% url 'passwordResset' %}">Password reset</a></p></li>
				       </ul>
					    <ul>
					   <h5>INFORMATION</h5>
						<li><p><a>Open day</a></p></li>
						<li><p><a href="{% url 'scholarship' %}">Funding</a></p></li>
						<li><p><a>Blog</a></p></li>
						<li><p><a>Reviews </a></p></li>
						<li><p><a href="{% url 'prospectus' %}">Prospectus</a></p></li>
						<li><p><a href="{% url 'uni' %}">Universities</a></p></li>
				       </ul>
				   </div>
				   <div class="col-xs-5 sub-footer">
				       <ul>
					    <h5>SERVICES</h5>
						<li><p><a href="{% url 'contactForm' %}">Contact </a></p></li>
						<li><p><a>FAQ</a></p></li>
						<li><p><a>Advertise</a></p></li>
				       </ul>
				        <ul>
						<h5>POLICIES</h5>
						<li><p><a href="{% url 'privacyPolicy' %}">Privacy policy </a></p></li>
						<li><p><a href="{% url 'cookiePolicy' %}">Data & Cookie policy</a></p></li>
						<li><p><a href="{% url 'termsOfService' %}">Terms & Conditions</a></p></li>
				       </ul>
					   <ul>
						<h5>ABOUT US</h5>
						<li><p><a>Our Company</a></p></li>
				       </ul>
				   </div>
				</div>
			</div>
        </div>
 

    

    <!-- jQuery -->
    <script src="{% static 'pages/js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'pages/js/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{% static 'pages/js/classie.js' %}"></script>
    <script src="{% static 'pages/js/cbpAnimatedHeader.js' %}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{% static 'pages/js/jqBootstrapValidation.js' %}"></script>
    <script src="{% static 'pages/js/contact_me.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'pages/js/unicatalogue.js' %}"></script>

</body>

</html>
